<div ng-include=" 'partials/navbar.html' "></div>
<div class="container">

    <div class="row">
        <div class="col-md-12">
            <img class="ukimg" src="https://static.wixstatic.com/media/1089d5_2fd13d00f09948759ef4532a95814159~mv2.jpg/v1/fill/w_321,h_240,al_c,q_80,usm_0.66_1.00_0.01/1089d5_2fd13d00f09948759ef4532a95814159~mv2.webp">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
        <h1 class="ctrytag">Beaune, France</h1>
        </div>
    </div>

    <div class="row londondiary">
        <div class="col-md-8">
        <h2>Journal Highlights:</h2>
        <h4>Wednesday, July 20, 2016:</h4>
        <p>Today we made the easy drive to Beaune (prononuced Bone). Once in Beaune we were on our own to explore.
        Our first stop, after walking through town, was at The Patriarche. The Patriarche, otherwise known as Caves Bourgogne, is a wine experience unlike any other. The place used to be a convent and has underground wine caves. The experience was amazing! And has subsequently (most likely) ruined future wine tasting experiences for me--which I am okay with! The wine was excellent, but the atmosphere and experience was truly exceptional. Definitely a highlight! (Jason and I also picked up a couple of wine stopper souvenirs here--one for us and one for each of our moms).   
        </p> 
        </div>
        <div class="col-md-4">
            <h2>City Highlights:</h2>
            <h5>
            Wine tasting at The Patriache, a converted convent that has miles of tunnels and cellars filled with unbelievable amounts of wine.
            </h5>
            <h5>
            The illumination spectacular that happens nightly where they illuminate certain buildings throughout town that share the history of the region 
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <img class="ukimg" src="https://static.wixstatic.com/media/1089d5_d0c1af3dd72345f5bed2d8a8eaa6f099~mv2.jpg/v1/crop/x_41,y_85,w_605,h_394/fill/w_370,h_240,al_c,q_80,usm_0.66_1.00_0.01/1089d5_d0c1af3dd72345f5bed2d8a8eaa6f099~mv2.webp">
        </div>
    </div>
    <div class=" col-md-8">
    <h4>Wednesday, July 20 cont'd: </h4>
   <p>
   The small town of Beaune is quite pretty inside the walls where the "old" city center is. We made our way around the town looking at the old hospital and Notre Dame chapel. We wandered in and out of shops and found a fantastic glass Beaune Christmas ornament, then met up with some tour mates (Rodney-CO, and Theresa-ME) for dinner. 
   </p>
   <p>
    We had dinner at La Galion where Jason had snails (actually delicious due to the butter sauce they were prepared in) and beef bourgonise. I also had the beef bourgoneese before we both had dessert. A nice meal and was fun getting to know some of the others on the tour. (In fact, the four of us were the only ones that did not have dinner with our guide Miles. Not that we didn't want to, but we figured the group would be large and with how small the restaurants are we knew it would not go over well with the restaurant. Glad we didn't go since you could tell Miles felt bad about how large the group got...) 
   </p>
   <p>
    After dinner we walked around and saw the Beaune illumination show. This illumination show lights up six different buildings throughout the town we picture stories of the history of France and Beaune. We ended up finding four out of the six illuminations, which were pretty incredible, before heading back to our hotel for bed.    
   </p>
   <p>
    All-in-all Beaune was a great stop. The wine tasting was definitely a highlight up to this point in the trip.      
   </p>
    </div>
    <div class="col-md-4">
    <h2>Tips for Beaune:</h2>
    <p>One afternoon/evening is not nearly enough for this beautiful place. Would love to head back to see more of the sights and scenery! And wouldn't mind doing some more wine tasting as well...</p>
    </div>
</div>
<div ng-include="'partials/footer.html'">
</div>