<div ng-include=" 'partials/navbar.html' "></div>
<div class="scroll" ng-parallax pattern=" 'images/vernazza.jpg' " speed="10" reverse="false">	
<h5 class="center text">“Traveling – it leaves you speechless, then turns you into a storyteller.” – Ibn Battuta</h5>
</div>

<div class="container">
	<div class="section">
		<div class="row">
					<div class="col-md-6">
					<div class ="icon-block aboutsection">
					<h2>About Us</h2>
					<img class="smallpic" src="https://static.wixstatic.com/media/1089d5_60f0f4369fdd4bf9b1a1d5e363dc6737~mv2.jpg/v1/crop/x_163,y_92,w_209,h_232/fill/w_198,h_221,al_c,q_80,usm_0.66_1.00_0.01/1089d5_60f0f4369fdd4bf9b1a1d5e363dc6737~mv2.webp">
					<p class="light">We are Jason and Molly Mellema from mid-Michigan. We were married in the summer of 2013, are in our 30s, and wanted to take a big trip prior to having kids (beyond our dog Kaya, of course). Europe was our pick. But how to choose which cities to see? Places to go? Things to do?</p>
 
 					<p>We knew we wanted to see as much as possible so that we could determine where we would want to travel back to in the future, and the only requirement was that Venice had to be on the list (because according to Molly's grandma before she passed away, "You have to see Venice before it is completely under water"), so we decided a Rick Steves Tour was the way to go. Less hassle for us, and more enjoyment while traveling!</p>
 					<p>
					After reviewing the plethora of tour options, we determined the Europe My Way in 14 Day tour was our best bet. (I would have preferred the 21 Day tour but vacation days dictated this decision.)
					We finally decided on the My Way option because we were more interested in seeing the architecture of the cities and being active outside as opposed to seeing the insides of museums. We wanted the autonomy to make these decisions on our own. However, the Rick Steves audio app came in handy on several occasions. Be sure to download it prior to your trip!</p>
​ 
					<p>Ultimately we are so thankful we decided on a Rick Steves Tour and can't believe the amazing experience we had!Please join us in reliving our tour via this digital scrapbook. Click the links above to learn more about the cities we visited and the experiences we had.
					Those interested in taking a European vacation, be sure to look over our "Travel Tips" to maximize
					your experience and avoid some of the mistakes we made.                 
					If you simply want to take in the beauty of all that we saw, visit the <span><a href="/gallery">Gallery</a></span> page and enjoy!
					</p>
				</div>
			</div>
				<div class="col-md-6">
				<div class="icon-block aboutsection">
					<h2>By the Numbers</h2>
					<img class="destpic" src="images/swiss-alps.jpg">
					<p>Countries visited = <span class="details">7</span></p>
					<p>Miles traveled = <span class="details">9,824</span></p>
	​				<p>Total miles walked = <span class="details">160+ each</span></p>
					<p>Souvenirs purchased = <span class="details">12 (8 were Christmas tree ornaments, one from each city)</span></p>
					​
					<p>Museums, churches, and historical sites visited = <span class="details">over 30</span></p>
					​
					<p>Bottles of wine consumed = <span class="details">Who can remember?</span></p>
					​
					<p>Times we got lost = <span class="details">"Zero, we merely found a new adventure." ~Moll</span></p>
					​
					<p>Friends made = <span class="details">23+ (our tour group, guide, bus driver, and various servers, tourists, etc. along the way)</span></p>
					​
					<p>Memories made = <span class="details">Too many to count!</span></p>
					
					<button class="btn btn-primary advert"><a href="https://www.ricksteves.com/tours/europe/my-way-europe">Rick Steves My Way Europe in 14 Days</a></button>
					</div>
				</div>
		</div>
	</div>
</div>
 
<div class="scroll" ng-parallax pattern=" 'images/coliseum.jpg' " speed="10" reverse="false"></div>
<div class="container">
	<div class="section">
		<div class="row mapsection">
			<div class="col-md-6">
			<h2>Route Map</h2>
			<img src="images/itinmap.png">
			</div>
			<div class="col-md-6">
			<h2>Trip Itinerary</h2>
			<p>Day -1:  London
(We decided to fly into London a couple days before our tour began to get over jetlag, and to see the city.)</p>
​
<p>Day 0:  London -> Paris</p>
​
<p>Day 1:  Our tour begins in Paris!</p>
​
<p>Day 2:  Paris</p>
​
<p>Day 3:  Travel to Burgundy's wine capital - Beaune</p>
​
<p>Day 4:  Wind our way to the Swiss Alps</p>
​
<p>Day 5:  Lauterbrunnen Valley</p>
​
<p>Day 6:  Continue our stay in the Lauterbrunnen Valley*</p>
​
<p>Day 7:  Travel to Lindau, Germany, to Liechtenstein, and Imst, Austria</p>
​
<p>Day 8:  Off to Venice!</p>
​
<p>Day 9:  Venice</p>
​
<p>Day 10:  Over to the Mediterranean coast</p>
​
<p>Day 11:  Cinque Terre</p>
​
<p>Day 12:  Down to Rome!</p>
​
<p>Day 13:  Rome and the Vatican City</p>
​
<p>Day 14:  Rome -> Toronto -> Home</p>
​
<p>Depart:  July 31, 2016 from Rome -> Toronto -> drive to back to Michigan</p>
​
<p>August 1, 2016 - back to work..</p>
			</div>
		</div>
	</div>
</div>	
<div ng-include="'partials/footer.html'"></div>

						