<div ng-include=" 'partials/navbar.html' "></div>
<div class="container">

    <div class="row">
        <div class="col-md-12">
            <img class="ukimg" src="images/ben.jpg">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
        <h1 class="ctrytag">London, United Kingdom</h1>
        </div>
    </div>

    <div class="row londondiary">
        <div class="col-md-8">
        <h2>Journal Highlights:</h2>
​        <h4>Saturday, July 16, 2016:</h4>
        <p>We landed at London Heathrow a little after 11am London time, took Heathrow Express into the city, caught a subway (tube) ride to our hotel, and off we went exploring. Fortunately for us there was a fantastic Saturday market just outside our hotel’s entrance where we were able to delight in an English tradition of strawberries and cream—delicious—before walking about.</p>
        <p>Our first stop was the Tower of London, mere steps from our hotel (which also had a fantastic view of Tower Bridge). We then proceeded to walk all over the city taking in sights such as St. Paul’s Basilica, Trafalgar Square, Buckingham Palace, Big Ben, and London Eye to name a few. We had fish and chips, along with a local beer, at Rock & Sole Plaice (a recommendation we found on Diners, Drive-Ins, and Dives) for dinner. And there no better way to end that kind of day and night than with a pint of Ben & Jerry's, a glass of wine, and the British Open on the teli.</p>
        </div>
        <div class="col-md-4">
            <h2>City Highlights:</h2>
        ​​    <p>The Tower of London</p>
            <p>London Monument</p>
            <p>St. Paul's Basilica​</p>
            <p>Trafalgar Square</p>
            <p>Buckingham Palace</p>
            <p>Westminster Abbey</p>
            <p>Big Ben</p>
            <p>London Eye</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <img class="ukimg" src="images/buckingham.jpg">
        </div>
    </div>
    <div class=" col-md-8">
    <h4>Sunday, July 17, 2016:</h4>
    <p>We woke up fairly early in London because we knew we had limited time left in the city, and still wanted to check out the British Museum. Which is where we started our day...</p>
    <p>The British Museum was amazing! The number of artifacts and history stored there were truly mind boggling. The Egyptian ruins, artifacts from the Roman Empire, statues of the Greek Gods, etc. Definitely worth the entrance fee--which is FREE!</p> 
    <p>After viewing the museum, we had time for a quick English breakfast of eggs, grilled mushrooms, grilled tomatoes, baked beans (yes, baked beans), and white tea (which was delicious). We quickly ate our breakfast, headed back toward our hotel, picked up our souvenir--red bus tour Christmas ornament--checked out of our hotel, grabbed our bags, and hopped on the Tube to head back to Heathrow to catch our flight to Paris...</p>​
    </div>
    <div class="col-md-4">
    <h2>Tips for London:</h2>
    ​​<p>If you take the Tube, be sure to hold onto your ticket. You need the ticket to enter the station as well as to   exit the station.</p>
    ​​<p>Give yourself an additional hour more than typical to get through airport security--especially when travelling in the summer.​</p>
    </div>
</div>
<div ng-include="'partials/footer.html'">
</div>