<div ng-include=" 'partials/navbar.html' "></div>
<div class="container">

    <div class="row">
        <div class="col-md-12">
            <img class="ukimg" src="images/eiffel.jpg">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
        <h1 class="ctrytag">Munich, Germany</h1>
        </div>
    </div>

    <div class="row londondiary">
        <div class="col-md-8">
        <h2>Journal Highlights:</h2>
​        <h4>Sunday, July 24, 2016:</h4>
		<p>We were supposed to arrive in Munich around 4:30pm on Saturday, July 23. That evening we had planned on strolling through town before heading to a beer garden for dinner. Unfortunately on Friday, July 22 a gunman decided to open fire and kill innocent Germans at a popular shopping mall in Munich before turning the gun on himself. This completely shut the city down and put Europe in a state of mourning yet again. Because of this, it was decided by the Rick Steves Tour staff that we should not head to Munich this day. Instead we did the following:</p>
        
        </div>
        <div class="col-md-4">
            <h2>City Highlights:</h2>
           	<h5>Walking around Lake Lindau</h5>
​			<h5>Eating and drinking at an authentic beer garden</h5>
			<h5>Getting our passports stamped in Liechtenstein</h5>
			<h5>Seeing the gorgeous countryside of the region</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <img class="ukimg" src="images/archeparis.jpg">
        </div>
    </div>
    <div class=" col-md-8">
    <h4>Sunday, July 24, cont'd:</h4>
	<p>
	Today was supposed to be our bike day in Munich, but obviously plans changed. So, instead today we headed to Lake Lindau, Germany, stopped in Liechtenstein, then headed to Impst, Austria for our nights stay. 		
	</p>
 
 	<p>
	All-in-all we made six border crossings today:  Switzerland to Austria to Germany to Austria to Switzerland to Liechtenstein to Austria.
 	</p>
 	<p>
	Lindau, Germany was beautiful. It is a small island that is surrounded by a lake that borders Austria, Germany, and Switzerland. Here we were able to eat and drink at an authentic German beer garden. I actually had the white sausage, which was much better than anticipated. Unfortunately they were out of their pretzels, but I still feel I had a true German experience all things considered.
 	</p>
 	<p>
	We made a quick stop in Liechtenstein mostly so we could pay three euros to have our passports stamped. Was definitely worth the stop, though the country itself is quite expensive. 
 	</p>
 	<p>
	Finally we made our way to Impst, Austria for the night where we stayed at Hotel Arzlerhof. The hotel manager/owner Frans was quite friendly and definitely in control. The hotel was beautiful, with large but unique bathrooms (all glass enclosed with some etching to shadow out the body in the shower).  J and I walked around the hotel for just a few minutes, but then a thunderstorm, with lightning, rolled in over the mountains so we skirted back inside our hotel to wait for our group dinner--which was on Rick Steves Tours due to the change in our itinerary.
 	</p>
    </div>
    <div class="col-md-4">
    <h4>Tips for Bavaria:</h4>
    <h5>Be flexible with your travel plans. Life happens and you need to learn to adjust quickly. So we didn't make it to Munich, though that was the one place Jason was really looking forward to, we made the best of the situation and still enjoyed our travel plans.</h5>
    </div>
    <div class="row">
    	<div class="col-md-12">
    	<h4>Monday, July 25, 2016:</h4>
    	<p>Breakfast this morning was outstanding! A huge spread with lots of great food at our hotel in Austria. A great way to start our day as we head to Venice.</p>
		 <p>
		On our way to Bolzono, Italy (our first stop of the day) we passed Innsbruck and saw the ski jump from the 1964 Winter Olympics as well as crossed over the tallest bridge in all of Europe.
		</p>
		<p>
		Bolzano, Italy (otherwise known as Bozen to the Germans) was a much larger town than I was anticipating. Overall this was a nice, pleasant stop where we grabbed a suitcase (to carry our purchases home in), went to the grocery store to grab lunch, grabbed a pasty at a cafe so we could use their restroom, then grabbed some gelato before meeting up with our group. The town was a mix of German and Italian, had some beautiful mountains surrounding it, along with dirt cheap wine. Overall I would say my first Italian (mostly) experience was a good one. Next stop Venice!
		</p>	 
    	</div>
    </div>

</div>
<div ng-include="'partials/footer.html'">
</div>