<div ng-include=" 'partials/navbar.html' "></div>
<div class="container">

    <div class="row">
        <div class="col-md-12">
            <img class="ukimg" src="images/eiffel.jpg">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
        <h1 class="ctrytag">Paris, France</h1>
        </div>
    </div>

    <div class="row londondiary">
        <div class="col-md-8">
        <h2>Journal Highlights:</h2>
​        <h4>Sunday, July 17, 2016:</h4>
        ​​<p>We landed in Paris a little early and proceeded to meet our driver who would take us directly to the hotel. (We also encountered three or four armed military men roaming the terminal--not a surprising sight to see after what happened in Nice just three days earlier.)</p>
        <p>We had an incredible meal and made it through our first foreign language experience without much difficulty—and with the help of our trusty phrase book.</p> 
        <p>After dinner we headed back to our hotel to crash. It had been another long day.</p>
        </div>
        <div class="col-md-4">
            <h2>City Highlights:</h2>
            <h5>Luxemborg Garden</h5>​​
            <h5>Sacre Coeur</h5>
            <h5>Notre Dame Cathedral</h5>
            <h5>Saint Chapelle (at the Palace of Justice)</h5>
            <h5>Eating a picnic by the Siene</h5>
            <h5>The Louvre</h5>
            <h5>The Eiffel Tower* and the sparkling light show</h5>
            <h5>Arc de Triomphe</h5>
            <h5><span class="note">*The Eiffel Tower was lit up in red, white, and blue when we first arrived as the country was in mourning due to the terrorist attack in Nice just days prior. The Eiffel Tower went back to its white lights our last night in the city</span>.</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <img class="ukimg" src="images/archeparis.jpg">
        </div>
    </div>
    <div class=" col-md-8">
    <h4>Monday, July 18, 2016:</h4>
    <p>J and I then headed out for breakfast to enjoy a French pastry and coffee. The pan chocolate I had was phenomenal!
    After walking for several hours, and logging numerous miles, it was time to head back to our hotel to meet our tour group. Both J and I were a little nervous to meet our group. We weren't quite sure what to expect and just hoped that the majority of people would seem easy to get along with. Fortunately that was the case. There are 24 of us in our group, including our group guide Miles, and quite a few families. There were four kids who just graduated high school, two who just graduated middle school, and one in elementary school. Crazy! 
    </p> 
    <p>
    After meeting our group and having Miles get us acquainted with the subway system, we headed off to dinner.
    We ended up at Royal Carbonne for dinner, as it was a little bit off the beaten path. We are so glad we did! The food was excellent and our server was outstanding! Best part of the evening, or at least most comical, was when a waitress (not our server) delivered Jason his beer. Jason took a sip of the beer. The waitress came back about a minute later and said, "Sorry, not your beer." She proceeded to pick up this beer and deliver it to the guy who originally ordered it! We were in complete shock, then died laughing because we know that would NOT go over in America... The best part? The other guy finished the beer off like it was nothing. Ha ha!    
    </p>
    </div>
    <div class="col-md-4">
    <h2>Tips for Paris:</h2>
    <p>You will get a calf workout, and possible get dizzy, climbing all of the spiral staircases - our hotel had a tiny spiral staircase (along with an elevator) and the subway at Sacre Coeur had a large, very, very long, spiral staircase to get to the city level; needless to say our calves were feeling it by the end of our stay in Paris.   
    </p>
    <p>In Paris, if you plan on taking the subway multiple times, purchase the 10-ride pass. This will save you money if you plan on taking the subway more than six times. (Each ride needs one ticket--one ticket is needed each time you go down to the subway and come back up.   
    </p>
    </div>
</div>
<div ng-include="'partials/footer.html'">
</div>