<div ng-include=" 'partials/navbar.html' "></div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <img class="ukimg" src="images/stockalps.jpg">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
        <h1 class="ctrytag">The Swiss Alps</h1>
        </div>
    </div>

    <div class="row londondiary">
        <div class="col-md-8">
            <h2>Journal Highlights:</h2>
            <h5>(Switzerland was by far my favorite country, so get ready for a long journal entry!)</h5>
    ​        <h4>Thursday, July 21, 2016:</h4>
            <p>
            This morning we loaded the bus to head to Switzerland. On our way to the Lauterbrunnen Valley, we made a stop in Bern, Switzerland. This town was fantastic! The architecture, the laid-back feel, the crystal clear water--gorgeous! We had such a fun time putzing around the town for a couple of hours. Next stop:  Lauterbrunnen!   
            </p>
            <p>
            The drive from Bern to Lauterbrunnen was absolutely gorgeous. I felt like I was back in Montana--near Glacier National Park--with all of the mountains, the lakes, waterfalls, etc. We pulled into Lauterbrunnen, walked around the town for a few minutes, then caught our train Wengen where we checked into the hotel Falkan. All I can say is, GORGEOUS!    
            </p>
            <p>
            That night we had dinner at the hotel, topped off by a massive Heineken on tap, followed by dessert. The food was delicious, and our rooms (though like stepping back in time) were lovely. I am already in love with this country and cannot wait to hike the Alps tomorrow.    
            </p>
            <p>(Today our tour member Sony (originally from Cuba but now she lives in Sonoma, CA) nicknamed us Jaylee.)</p>
        </div>
        <div class="col-md-4">
            <h2>City Highlights:</h2>
            <h5>Hiking the Northface trail which took us behind a waterfall</h5>
            <h5>Lunch at the youth hostel in Gimmewald</h5>
            <h5>The view of the valley from the church in Wengen</h5>
            <h5>The Swiss Made Shop in Wengen</h5>
​        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <img class="ukimg" src="images/swiss-alps.jpg">
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <h4>Friday, July 22 - Wengen, Switzerland:</h4>
            <p>
            We woke up to some clouds and drizzle this morning, but J and I were still determined to go hiking. We had breakfast at the hotel--mussli with fruit-yogurt, eggs, and birdman bread that was phenomenal--then mapped out our hiking route.   
            </p>
            <p>
            J and Miles had talked the night before about hiking options. We decided to hike from Murren, up the Northface Trail, over to Sprutz to hike behind a waterfall (a definite highlight of the trip thus far!), then hike down to Gimmewald before catching the gondola down to the valley, the bus over to Lauterbrunnen, the train up to Wengen, the gondola up to Mannlichen, hiking over to Kleine Scheidegg, then hiking down to Wengen. Amazing experience, despite our legs screaming at us and getting caught in a rainstorm on our hike down. 
            </p>
            <p>
            Once all cleaned up back at the hotel, we headed down to the lobby to mingle with our tour group. This is when we found out about what happened in Munich...</p>
            <p>Our original tour plan had us leaving for Munich the next day; however, there was a shooting in Munich today at one of their large shopping centers/malls. There reports of other incidents in the city and they weren't sure how many active shooters there were, so the city had basically been shut down and the police were encouraging people to shelter in their homes. All (most) of us were anxious waiting for Miles to give us the update on what our tour plans would be...
            </p>
            <p>
            Miles came into the lobby about 9:30pm and told us that we would proceed as though we were heading to Munich tomorrow, but he did inform us that those plans could very well change. So, we went to bed with the intent to head to Munich tomorrow. 
            </p>
        </div>
        <div class="col-md-4">
            <h2>Tips for the Swiss Alps:</h2>
            <h5>
            Buy a rail pass/train pass if you plan on being in the valley for more than a day. Tickets in general are pricey, so if you are going to spend a couple of days there the pass will save you money.
            </h5>
            <h5>
            For one of the best views in the valley head to the steps in front of the church in Wengen--absolutely breathtaking viewpoint!   
            </h5>
            <h5>
            For great Switzerland souvenirs head to the Swiss Made Shop in Wengen.    
            </h5>
            <h5>
            No tipping in Switzerland, as this is considered rude.
            </h5>
            <h5>
            Free bathrooms can be found at the train stations. (In Bern we used a bathroom at their grocery store and had to pay one franc a piece, despite making a purchase from the store.)    
            </h5>
            <h5>
            Do not pre-purchase your tickets to the Schilthorn or Jungfrau, as these views are very dependent on weather. You don't want to spend that kind of coin if the weather is overcast or stormy. 
            </h5>
            <h5>
            When you purchase items with a credit card in Switzerland it will ask if you want to purchase the item in US dollars or Swiss Francs, choose the Swiss Francs option. This will save you on the conversion rate, according to a local.    
            </h5>
        </div>
    </div>
        
​   <div class="row">
        <div class="col-md-12">
            <img class="ukimg" src="images/alps.jpg">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Saturday, July 23, 2016:</h2>
             <p>
            The first thing I did when I woke up this morning was check my phone to read about the Munich shootings. I learned that there was one shooter, the mall was the only location of the shooting, and that the shooter had turned the gun on himself so there was no other shooter at large. Based on all of this information, I assumed that we would then be heading to Munich. However, at 6:55am, with J and I virtually packed and ready to leave, Miles came to our door to inform us we would be staying an additional day in Switzerland. Apparently Munich was still pretty much shut down, and though we would be able to get into the city, the tour did not want to send us someplace where we would not be able to enjoy ourselves since most everything was still shutdown and there would be a very strong military presence that may make us uncomfortable. So, another day in beautiful Switzerland!</p>
            ​<p>
            (What happened in Munich was a tragedy, but this is an example of why I am so thankful we went with a Rick Steves Tour. We did not need to worry about rearranging our travel plans--all of the details and logistics were left up to our guide and the travel company. How the situation was handled is one of many reasons why we would book another Rick Steves Tour in the future.)
            </p>
            <p>
            J and I decided that we would do some laundry this morning, since we had planned on doing that in Munich, as well as go for another hike. One of our younger tour members was interested in hiking, so we invited him to come with us. Another tour member, Rodney, asked to come along as well. So, we mapped out what we wanted to do and got ready to hit the trails (via trains first).
            </p>
            <p>
            J and I walked into Wengen that morning to take care of laundry and to stroll through some of the shops (the Swiss Made Shop is fantastic!), then we grabbed some lunch at the grocery store before heading back to our hotel to meet Zach and Rodney.
            </p>
            <p>
            We met Zach and Rodney at noon and set off for the train station. Originally we had planned on hiking the Eiger trail; however, the train ticket on the back side of the trail was outrageously expensive to get back to Wengen, so we decided we would hike part of it before turning around to catch the train for our side of the mountain. This ended up being a good call on multiple fronts since we did get caught in a rainstorm during the hike and the temperatures dropped pretty drastically. The big unfortunate thing of the hike, though fun (despite my legs and right foot screaming at me), was that we really didn't have any great views--it was too socked in. Rodney did take a cool time-lapse video though that showed just how quickly the clouds rolled in on us from two different directions. 
            </p>
            <p>
            Anyway, we got done with our hike, caught the train down, and headed back to our hotel to shower. Before heading to the hotel we did stop at the grocery store to grab some Swiss chocolate, hot chocolate, and granola bars. Good stuff!
            </p>
            <p>
            After showering and warming up, we headed down to the lobby to grab a drink with some other tour members before heading into the hotel's restaurant for dinner. (The pumpkin soup was delicious, despite tour member Paul not being a pumpkin fan.)
            </p>
            <p>
            After dinner and dessert, we grabbed some hot chocolate in the lobby before heading up for bed. Tomorrow is going to be a long day on the bus along with stops in Germany, Liechtenstein, and Austria.     
            </p>
        </div>
    </div>
</div>
​
​
​
<div ng-include="'partials/footer.html'">
</div>